@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>I tried m best to do the challenge with some help of google. Thank you for checking up my skills.</p>
